/* COLORS */
/**

**/

/*----- GENERAL ASSETS -----*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  height: 100vh;
  text-align: center;
}

header {
  padding: 24px;
}

button {
  padding: 8px 16px;
  width: 240px;
}

/*----- RULES POP-UP -----*/

div.fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  border: 3px solid black;
}

#rules {
  background-color: white;
}

#rules > p,
ul {
  text-align: left;
  padding: 0 24px;
  line-height: 1.2;
}

#rules > ul {
  margin: 16px;
}

/*----- START MENU -----*/

#start-menu > button {
  display: block;
  margin: 16px auto;
}
